$screen-size-small: 768px;
$screen-size-medium: 992px;
$screen-size-large: 1200px;

//Theme Colours
$theme_grey: #ebeef2;
$theme_darkblue: #1b2b37;
$theme_greyblue: #6b94b3;
$theme_underline_blue: #34B9DB;
$theme_coralpink: #ff676c;
$theme_coralpink_contrast: #d03434;
$theme_darkmint: #4bb972;
$theme_orangeyellow: #ffa200;
$theme_cloudyblue: #c3cad4;
$theme_turqoise: #5fd7cf;
$theme_red: #D03434;
$theme_white: #ffffff;
$heading-grey: #dfe3e8;
$button_fontsize: 11px;
$body_fontsize: 12px;
$breadcrumb_fontsize: 22px;
$brandtitle_fontsize: 16px;
$navigation_fontsize: 16px;
$theme_header_fontsize: 18px;
$font_title_fontsize: 14px;
$screens_title_fontsize: 14px;
$screens_list_fontsize: 18px;
$add_component_fontsize: 11px;
$property_tab_fontsize: 18px;

$appstudio-width: 1024px;
