<div class="row">
    <div class="container-fluid">
        <form role="form" class="form-horizontal">
            <div class="row padder">
                <div >
                    <label ng-hide="expanded" class="col-md-2 control-label">Id</label>
                    <label ng-show="expanded" class="col-md-12 span-no-padding col-align-left control-label">Id</label>
                    <div class="input-group">
                        <div ng-class="{'col-md-12' : expanded =='false', 'col-md-12' : expanded=='true'}" >
                            <p class="text-muted">{{data.id}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <fieldset>
				<content-text-attribute-directive label-name="'Bucket'" value="data.name" edit="'view'" expanded="expanded" onupdate="saveCallback()" area="'false'"></content-text-attribute-directive>
            </fieldset>
        </form>
    </div>
</div>
