<div class="form-group" ng-show="showForm">
    <label ng-hide="expanded" for="input{{field.id}}" class="col-md-2 control-label">{{field.title}}</label>
    <label ng-show="expanded" for="input{{field.id}}" class="col-md-12 span-no-padding col-align-left control-label">{{field.title}}</label>


    <div class="input-group col-md-12">
        <div ng-show="edit != 'edit'" class="datepicker input-group datetime" >
            <!-- Limitation: does not work with ng-blur -->
            <input type="text" class="form-control" ui-focus="focusInput" datepicker-popup="{{format}}" ng-model="value" is-open="opened" datepicker-options="{{dateOptions}}"
                   date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"
                   ng-focus="setEscapeToDefault()" ng-enterkeydown="saveCallback()" ng-escapekeydown="cancelCallback()" />

            <span class="input-group-btn box-calendar ">
                <button class="btn btn-default bootstrap-touchspin-up" type="button" ng-click="open($event)"><i class="fa fa-calendar"></i></button>
            </span>
        </div>

        <div ng-show="edit == 'edit'" class="datepicker input-group datetime">          
            <input type="text" class="form-control" ui-focus="focusInput" datepicker-popup="{{format}}" ng-model="value" is-open="opened" datepicker-options="{{dateOptions}}"
                   date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />

            <span class="input-group-btn box-calendar ">
                <button class="btn btn-default bootstrap-touchspin-up" type="button" ng-click="open($event)"><i class="fa fa-calendar"></i></button>
            </span>
        </div>

 
        <span class="input-group-btn">           
            <button class="btn btn-default bootstrap-touchspin-up" type="button"><span class="fa fa-pencil"></span></button>
        </span>
    </div>

</div>

<div class="form-group" ng-show="!showForm" ng-click="tryToEdit()">

    <label ng-hide="expanded" for="input{{field.id}}" class="col-md-2 control-label">{{field.title}}</label>
    <label ng-show="expanded" for="input{{field.id}}" class="col-md-12 span-no-padding col-align-left control-label">{{field.title}}</label>

    <div class="input-group">
        <div ng-class="{'col-md-12' : expanded =='false', 'col-md-12' : expanded=='true', 'text-align-label form-control': showPencil, 'text-align-label': !showPencil}" ng-mouseover="showPencil = true" ng-mouseleave="showPencil = false">
            <p class="form-control-static" ng-show="edit == 'view' || (edit == 'quickedit' && value)">{{value | date}}</p>
            <p class="form-control-static text-muted" ng-show="edit == 'quickedit' && !value"> click to edit {{field.title}}</p>
        </div>
        <span class="input-group-btn" ng-show="showPencil" ng-init="showPencil = false">
            <button class="btn btn-default bootstrap-touchspin-up" type="button"><span class="fa fa-pencil"></span></button>
        </span>
    </div>
</div>
