//TODO: brand modal classes should be removed and made generic

//.brand-image {
//  margin: 20px 0 0;
//  width: 150px;
//  height: 150px;
//  margin-left: auto;
//  margin-right: auto;
//}

.brand-name {
  padding-top: 20px;
  padding-left: 30px;
  text-align: left;
}

.brand-name-input {
  margin: 10px 30px 0 30px;
  width: 540px;
}

.right-section{
  position:fixed;
  right: 50px;
}