    <div ng-show="vm.dataReady" class="col-md-2 app-card" ng-mouseenter="showRemove=true" ng-mouseleave="showRemove=false">
        <div class="app-card-header">
            <div>
                <div class="device-circle">
					<plugin-component 	ng-if="vm.dataReady"
										model="vm.appType"
										purpose="vm.purpose.PREVIEW"
										options="{selectable: false}">
					</plugin-component>
                </div>
            </div>
            <span class="cross" ng-if="showRemove" ng-click="vm.delete()"><img src="/images/cross@3x.png"/></span>
            <div class="title">{{vm.title}}</div>
            <div class="device-name">{{vm.subtitle | uppercase}}</div>
            <div class="live-status">
                <span ng-class="{'bg-darkmint': vm.statusFlag, 'bg-orangeyellow': !vm.statusFlag}">{{vm.status}}</span>
                <!--<span class="white round-corner-10 inline-block pl-1 pr-1 bg-orangeyellow" ng-if="vm.statusFlag=false">OFFLINE</span>-->
            </div>
        </div>
        <div class="app-card-info">
			<plugin-component 	ng-if="vm.dataReady" 
								model="vm.activeUIConfig" 
							 	purpose="vm.purpose.VIEW"
							 	options="vm.uiConfigViewCardOptions">
			</plugin-component>
            <div class="sub-title">App Id:</div>
            <div class="info app-id-height">{{vm.model.getFieldValue('clientConfig')}}</div>
            <div class="app-card-actions">
                <button class="btn btn-secondary bg-greyblue" ng-click="vm.edit(vm.model)">EDIT</button>
            </div>
                <!--<button class="btn" ng-click="vm.editapp(vm.model)"><i class="fa fa-pencil"></i></button>-->
                <!--<button class="btn" ng-click="vm.deleteapp(vm.model)"><i class="fa fa-trash-o"></i></button>-->
        </div>
    </div>
