.complex-model-editor {
    .has-one-title{
        margin: 10px 0px;    
    }
    .has-one-component {
	       .object-editor {
               margin-left: 10px;
           }
           .complex-model-editor {
               margin-left: 10px;
           } 
    }
}