<div class="login-panel panel panel-default signInPanel">
    <div class="videa-logo"><img src="/images/signin-videa-logo.png"/></div>
    <div class="panel-body">
        <div >
            <h3 class="">Password Recovery</h3>
        </div>
        <div ng-if="!isTokenValid">
            <div >
                <p> The link you have followed has expired. To recover your password, please go through the password recovery flow. If you have any questions, please reach out to our support team at http://videa.digiflare.com/</p>
                <input type="submit" id="goBack" ng-click="goToHome()" class="btn btn-lg btn-success btn-block" value="Go back" />
            </div>
        </div>
        <div ng-if="isTokenValid">
            <div  name="forgotPasswordForm" ng-submit="submit()">
                <p>
                    Please enter a new password below.
                </p>
                <form name="form" role="form">
                    <fieldset>
                        <p><b>Enter password</b>
                        <div class="form-group">
                            <input class="form-control"  name="password" type="password" ng-model="pass.newPassword" required>
                        </div>
                        </p>
                        <p><b>Confirm password</b>
                        <div class="form-group">
                            <input class="form-control" name="confirmPassword" type="password" ng-model="pass.confirmPassword" required password-verify="password">
                        </div>
                        </p>
                        <div ng-show="differentPasswords">
                            The passwords do not match.  Please try again.
                        </div>
                        <div class="form-buttons">
                            <input type="submit" id="submit" class="btn btn-main bg-darkblue" value="Change" />
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>