<div class="login-panel panel panel-default signInPanel">
    <div class="videa-logo"><img src="/images/signin-videa-logo.png"/></div>
    <div class="panel-body">
        <div >
            <h3>Password Recovery</h3>
        </div>
        <div>

            <p>We received your request to reset your password.  An email with further instructions has been sent to the email address associated with your account.</p>
            <br/>
            <div class="form-buttons">
                <input type="button" id="submit" class="btn btn-main bg-darkblue" value="Got it"  ng-click="goToHome()" />
            </div>
        </div>
    </div>
</div>
