<div class="modal-header">
	<h4 class="modal-title" id="myModalLabel">{{popUpTitle}}</h4>
</div>
<div class="modal-body">
	<div class="alert alert-danger" ng-if="errorMsg">
		{{errorMsg}}
	</div>
	<br/>
	<div class="col-md-12">
		<div class="form-group">
			<label class="label-new-line">
				Catalog
			</label>
			<input type="text" class="input-sm form-control" ng-model="bucket.name" required>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-secondary-auto-width bg-darkmint" ng-click="ok()">Create</button>
	<button class="btn btn-secondary-auto-width bg-greyblue" ng-click="cancel()">Cancel</button>
</div>
