<div class="login-panel panel panel-default signInPanel">
    <div class="videa-logo"><img src="/images/signin-videa-logo.png"/></div>
    <div class="panel-body">
        <div >
            <h3 >Sign Up</h3>
        </div>
        <div >
            <p>Thank you for signing up for Videa!  We're excited to have you on board and we can't wait to see your creativity come alive.</p>
            <p>Please note however, that there is currently a waiting list to access Videa Hub.  As soon as we're ready, we'll send you a confirmation note.</p>
            <br/>
            <div class="form-buttons">
                <input type="submit" id="submit" class="btn btn-main bg-darkblue" value="Got it"  ng-click="goToHome()" />
            </div>
        </div>
    </div>
</div>