<videa-content-header>
</videa-content-header>
<videa-content>
    <script type="text/javascript" src="http://assets.freshdesk.com/widget/freshwidget.js"></script>
    <style type="text/css" media="screen, projection">
        @import url(http://assets.freshdesk.com/widget/freshwidget.css);
    </style>
    <iframe title="Feedback Form" class="freshwidget-embedded-form" id="freshwidget-embedded-form" src="https://digiflare.freshdesk.com/widgets/feedback_widget/new?&widgetType=embedded&formTitle=Support+for+Videa&submitThanks=Thanks+for+submitting+your+feedback+%2F+support+requests.++Our+team+is+looking+at+this+and+will+respond+shortly.&screenshot=no" scrolling="no" height="500px" width="100%" frameborder="0" >
    </iframe>
</videa-content>