<div class="modal-header">
	<h4 class="modal-title" id="myModalLabel">Create Content Type</h4>
</div>
<div class="modal-body">
	<div class="alert alert-danger" ng-show="errorMsg">
		{{errorMsg}}
	</div>
	<br/>
	<div class="col-md-12">
		<div class="form-group">
			<label class="label-new-line">
				Type Name
			</label>
			<input type="text" class="input-sm form-control" ng-model="typeName" required>
		</div>
		<div class="form-group">
			<label class="label-new-line">
				Designation Label
			</label>
			<input type="text" class="input-sm form-control" ng-model="designationLabel" required>
		</div>
		<div class="form-group">
			<label class="label-new-line">
				Display on library
			</label>
			<div class="text-left">
				<input type="checkbox" class=" input-sm" ng-model="visibleInLibrary">
			</div>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-secondary-auto-width bg-darkmint" ng-click="ok()">Create</button>
	<button class="btn btn-secondary-auto-width bg-greyblue" ng-click="cancel()">Cancel</button>
</div>
