<videa-content-header>
    <button class="btn btn-main bg-coralpink" role="button" ng-click="openAddAccountModal()">
        Create Account
        <i class="fa fa-plus"></i>
    </button>
</videa-content-header>
<videa-content>
    <videa-content-list loadcontents="populateAccountList()" contentlist="data" query="query"  deletemodal="deleteAccount(msg)"  expanded="quickEditExpanded" editcontent="quickEditAccount" properties="accountProperties" sort ="sort" sort-handler="sortAccounts()" asc="asc" total-items="totalItems" current-page="currentPage" items-per-page="itemsPerPage" page-change-handler="pageChanged()" hide-drop-menu="false" loading="loadingAccount" get-content="getAccount(obj)">
        <div ng-show="quickEditFormIsLoading" class="text-center"><i class="fa fa-refresh fa-spin fa-lg"></i>loading...</div>
        <edit-account-directive content ="quickEditAccount" action="quickEditAction" expanded="{{quickEditExpanded}}" load-accounts="populateAccountList()"></edit-account-directive>
    </videa-content-list>
</videa-content>
